.btn {
  margin-left: 10px;
  background-color: rgb(42, 84, 148);
  border-radius: 50px;

  cursor: pointer;
}

.btn:hover {
  background-color: rgb(133, 22, 22);
}

.textContent {
  justify-content: space-between;
  display: flex;
  color: rgb(240, 255, 246);
  
}
